body {
	text-align: justify;
	font-size: 25px;
	background-color: rgb(24,24,24);
	color: rgb(255,128,0);
	display: block;
	text-align: center;
}
h3 {
	font-size: 30px;
}
form {
	width: 100%;
	text-align: center;
}
label .left {
	text-align: left;
	float: left;
	width: 25%;
}
input .right {
	text-align: right;
	float:right;
	width: 75%
}
input::placeholder {
	text-align: center;
}
span{
	font-weight: bold;
}