body {
	text-align: justify;
	font-size: 25px;
	background-color: rgb(24,24,24);
	color: rgb(255,128,0);
}
h3 {
	font-size: 30px;
}
#tab {
	border: dotted white 10px;
	width: 85%;
	margin: auto;
}
.row {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}
.art {
	margin: 5px;
	padding: 5px;
	border: double white 10px;
	border-radius: 10px;
	width: 320px;
}
img {
	width: 320px;
}
p {
	text-align: center;
	font-style: oblique;
	font-weight: bold;
}